<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
 
  <userSettings>
    <Client.Properties.Settings>
      <setting name="StorageFolder" serializeAs="String">
        <value>c:\ClientFolder</value>
      </setting>
      <setting name="LastCheckTime" serializeAs="String">
        <value>2015-02-11</value>
      </setting>
      <setting name="ServerRemoteAddress" serializeAs="String">
        <value>127.0.0.1:8085</value>
      </setting>
      <setting name="UserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPasswd" serializeAs="String">
        <value />
      </setting>
      <setting name="Locale" serializeAs="String">
        <value>ru-RU</value>
      </setting>
    </Client.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileSystem" closeTimeout="02:00:00"
          maxReceivedMessageSize="8388608000" messageEncoding="Text" transferMode="Streamed"
          useDefaultWebProxy="true">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8085/UserEvents/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFileSystem" contract="UserEventsServiceReference.IUserEvents"
        name="BasicHttpBinding_IUserEvents" />
      <endpoint address="http://127.0.0.1:8085/FileSystem/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFileSystem" contract="ServiceReference.IFileSystem"
        name="BasicHttpBinding_IFileSystem" />
      <endpoint address="http://127.0.0.1:8085/Account/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IFileSystem" contract="AccountServiceReference.IAccount"
        name="BasicHttpBinding_IAccount" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
