<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Monochrome | A Free CSS Template by Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<div id="header">
<ul id="topmenu">
<li><a href="index.html">Home</a> </li>
<li><a href="tables.html">Tables</a> </li>
<li><a href="forms.html">Forms</a></li>
<li><a href="others.html">Others</a></li>

</ul>
<div class="clear"></div>
<h1 id="sitename"><a href="#">Monochrome</a> <span class="description">A Free CSS Template by RamblingSoul</span></h1>
</div>
<div id="content">
<div id="sidebar">
<div class="sidebartop">

</div>
<div id="sidebarcontent">
<h2>Categories</h2>
  <ul>
    <li>
      <a href="#">Lorem Ipsum</a>    </li>
    <li>
      <a href="#">Consectetuer</a>    </li>
    <li>
      <a href="#">Nunc Viverra</a>    </li>
    <li>
      <a href="#">Sed Porta Rhoncus</a>    </li>
    <li>
      <a href="#">Mauris Sapien</a>    </li>
  </ul>

<h2>Archives</h2>
  <ul>
    <li>
      <a href="#">Lorem Ipsum</a>    </li>
    <li>
      <a href="#">Consectetuer</a>    </li>
    <li>
      <a href="#">Nunc Viverra</a>    </li>
    <li>
      <a href="#">Sed Porta Rhoncus</a>    </li>
    <li>
      <a href="#">Mauris Sapien</a>    </li>
  </ul>
  </div>
</div>

<div id="left">

<div class="post">
<div class="posttop"></div>
<div class="postitem">
<h2><a href="#">Example of Table</a><span class="postinfo">Posted by Admin on 24 January 2008</span> </h2>

<table cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">Lorem Ipsum</th>
    <th scope="col">Dolor Sit Amet</th>
    <th scope="col">Consectetuer</th>
  </tr>
  <tr>
    <th scope="row">Adipiscing Elit</th>
    <td>Sed Porta</td>
    <td>150</td>
  </tr>
  <tr>
    <th scope="row">Nunc Viverra</th>
    <td>Aliquam Erat</td>
    <td>235</td>
  </tr>
  <tr>
    <th scope="row">Adipiscing Dui</th>
    <td>Quisaque Tristique</td>
    <td>241</td>
  </tr>
</table>

 <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc viverra  adipiscing dui. Sed porta rhoncus sem. Aliquam erat volutpat. Praesent  suscipit, lectus vitae aliquam volutpat, quam neque tincidunt leo, a  condimentum libero lectus sit amet enim. Quisque tristique. Sed  facilisis, eros eget sagittis congue, sapien quam elementum sapien, ut  hendrerit ante lacus in felis. Curabitur ac eros. Mauris sapien.  </p>
<table cellspacing="0" cellpadding="0">
  <tr>
    <th scope="row">Vestibulum Odio</th>
    <td>250</td>
    <td>300</td>
  </tr>
  <tr>
    <th scope="row">Accumsan Vitae</th>
    <td>245</td>
    <td>320</td>
  </tr>
  <tr>
    <th scope="row">Varius Vitae</th>
    <td>180</td>
    <td>150</td>
  </tr>
  <tr>
    <th scope="row">Faucibus a, Dui</th>
    <td>60</td>
    <td>800</td>
  </tr>
</table>

 <p>Vestibulum odio nisl, accumsan vitae, varius vitae, faucibus a, dui.  Vestibulum tortor. Suspendisse potenti. Phasellus est. Maecenas aliquet  nunc ac est. In porta posuere sem. Morbi sagittis ipsum ut nunc.  Suspendisse euismod. </p>
 <table cellspacing="0" cellpadding="0">
  <tr>
    <th scope="col">Verstibulum Odio Nisl</th>
    <th scope="col">Accumsan Vitae</th>
    <th scope="col">Varius Vitae</th>
  </tr>
  <tr>
    <td>Ut Quis Nunc</td>
    <td>Quisque Massa</td>
    <td>Morbi Faucibus Nisi</td>
  </tr>
  <tr>
    <td>Mauris Venenatis</td>
    <td>Justo Ac Faucibus</td>
    <td>Covellis</td>
  </tr>
  <tr>
    <td>Scelerisque Lacus</td>
    <td>Non Molestie</td>
    <td>Velit Lectus </td>
  </tr>
</table>

 <p>Ut quis nunc. Quisque massa. Morbi faucibus nisi  ut sem. Mauris venenatis, justo ac faucibus convallis, mi arcu  scelerisque lacus, non molestie velit lectus ut pede. Sed venenatis.  Nullam sed quam. Morbi quis eros. Pellentesque elit. Nam at est. Etiam  vitae ligula sed justo fringilla posuere. Maecenas lorem dolor,  vulputate ac, vehicula mollis, facilisis ut, odio. In vitae nisi nec  massa imperdiet mattis. <a href="#">Read More</a></p>
</div>
  <div class="postbottom"><a href="#">Category</a> | <a href="#">No Comments</a> | <a href="#">Share This</a> </div>
  </div>
  
  
  
  <div class="post">
<div class="posttop"></div>
<div class="postitem">
<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a><span class="postinfo">Posted by Admin on 24 January 2008</span> </h2>
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc viverra  adipiscing dui. Sed porta rhoncus sem. Aliquam erat volutpat. Praesent  suscipit, lectus vitae aliquam volutpat, quam neque tincidunt leo, a  condimentum libero lectus sit amet enim. Quisque tristique. Sed  facilisis, eros eget sagittis congue, sapien quam elementum sapien, ut  hendrerit ante lacus in felis. Curabitur ac eros. Mauris sapien.  </p>
 <h4>Unordered List</h4>
  <ul>
    <li>Vestibulum purus nisi, commodo sed, fermentum et, bibendum eu, libero.</li>
    <li> Duis volutpat iaculis libero. Proin ac neque sit amet risus ornare  fringilla.</li>
    <li> Aenean orci. Maecenas dapibus. Vivamus varius justo sit amet  urna. </li>
    <li>Sed facilisis massa mollis pede sollicitudin pulvinar. </li>
    <li>Nulla  facilisi.Vestibulum odio nisl, accumsan vitae, varius vitae, faucibus a, dui.  Vestibulum tortor. </li>
    <li>Suspendisse potenti. Phasellus est. Maecenas aliquet  nunc ac est. </li></ul>
    
  <h4>Ordered List</h4>
 <ol>
    <li>In porta posuere sem. </li>
    <li>Morbi sagittis ipsum ut nunc.  Suspendisse euismod. </li>
    <li>Ut quis nunc. Quisque massa. Morbi faucibus nisi  ut sem. </li>
    <li>Mauris venenatis, justo ac faucibus convallis, mi arcu  scelerisque lacus, non molestie velit lectus ut pede. Sed venenatis.  Nullam sed quam. </li>
    <li>Morbi quis eros. Pellentesque elit. Nam at est. Etiam  vitae ligula sed justo fringilla posuere. Maecenas lorem dolor,  vulputate ac, vehicula mollis, facilisis ut, odio. In vitae nisi nec  massa imperdiet mattis. </li>
 </ol>
  </div>
  <div class="postbottom"><a href="#">Category</a> | <a href="#">No Comments</a> | <a href="#">Share This</a> </div>
  </div>
  
  <div class="post">
<div class="posttop"></div>
<div class="postitem">
<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a><span class="postinfo">Posted by Admin on 24 January 2008</span> </h2>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc viverra  adipiscing dui. Sed porta rhoncus sem. Aliquam erat volutpat. Praesent  suscipit, lectus vitae aliquam volutpat, quam neque tincidunt leo, a  condimentum libero lectus sit amet enim. Quisque tristique. Sed  facilisis, eros eget sagittis congue, sapien quam elementum sapien, ut  hendrerit ante lacus in felis. Curabitur ac eros. Mauris sapien.  </p>
  <h3>Code Example</h3>
  <code>
  #header {
	height:210px;
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
}
</code>
  <blockquote class="leftquote">
  <p>Vestibulum purus nisi, commodo sed, fermentum et, bibendum eu, libero.  Duis volutpat iaculis libero. Proin ac neque sit amet risus ornare  fringilla. Aenean orci. Maecenas dapibus. Vivamus varius justo sit amet  urna. Sed facilisis massa mollis pede sollicitudin pulvinar. Nulla  facilisi. <cite>Vestibulum Purus</cite> </p></blockquote>
  <p>Vestibulum odio nisl, accumsan vitae, varius vitae, faucibus a, dui.  Vestibulum tortor. Suspendisse potenti. Phasellus est. Maecenas aliquet  nunc ac est. In porta posuere sem. Morbi sagittis ipsum ut nunc.  Suspendisse euismod. Ut quis nunc. Quisque massa. Morbi faucibus nisi  ut sem. Mauris venenatis, justo ac faucibus convallis, mi arcu  scelerisque lacus, non molestie velit lectus ut pede. Sed venenatis.  Nullam sed quam. Morbi quis eros. Pellentesque elit. Nam at est. Etiam  vitae ligula sed justo fringilla posuere. Maecenas lorem dolor,  vulputate ac, vehicula mollis, facilisis ut, odio. In vitae nisi nec  massa imperdiet mattis. </p></div>
  <div class="postbottom"><a href="#">Category</a> | <a href="#">No Comments</a> | <a href="#">Share This</a> </div>
  </div>
  
 <div id="pagination">
 <span class="pre">&laquo;<a href="#">Previous Post</a></span>    <span class="next"><a href="#">Next Post</a>&raquo;</span>
 <div class="clear2"></div>
 </div>
  </div>
<div class="clear"></div>
<div id="footer">
<p>Copyright &copy; yourwebsite.com | <a href="#">Some</a> | <a href="#">Links</a> | <a href="#">Here</a> </p>
<p id="credit"><a href="#">CSS Template</a> by RamblingSoul</p>


</div>
</div>
</div>
</body>
</html>
