<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AdminTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccount" closeTimeout="02:00:00"
          maxReceivedMessageSize="8388608000" messageEncoding="Text" transferMode="Streamed"
          useDefaultWebProxy="true">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8085/Account/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccount" contract="AccountServiceReference.IAccount"
        name="BasicHttpBinding_IAccount" />
    </client>
  </system.serviceModel>
  
  
  <userSettings>
    <AdminTool.Properties.Settings>
      <setting name="ServerRemoteAddress" serializeAs="String">
        <value>127.0.0.1:8085</value>
      </setting>
      <setting name="OperatorLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="OperatorPass" serializeAs="String">
        <value />
      </setting>
      <setting name="StoreOperatorPass" serializeAs="String">
        <value>False</value>
      </setting>
    </AdminTool.Properties.Settings>
  </userSettings>
</configuration>