<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" layout="${date:format=yyyy/MM/dd HH\:mm\:ss}|${level}| ${message}" />
    <target name="viewer" xsi:type="NLogViewer" address="udp://localhost:4010" />
    <target name="console" xsi:type="Console"  layout="${date:format=HH\:mm\:ss}: ${message}" />
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="viewer" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
